{
  margin:0;
  padding:0;
}

ul{
  list-style: none;
}
ul li{ 
  padding: 5px;
 background: #f8e7fd;
margin: 5px;

}

header {
  background: #f8e7fd;
padding: 10px;
text-align: center;
}

#opiskelija-lomake{
    background: #f8e7fd;
    padding: 15px;
    display: block;
}
#opiskelija-lomake input[type='text']{
width: 100%
padding: 8px;
margin-bottom: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}

.kurssinappi{
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: rgb(30, 30, 41);
  color: #fff;
  border-radius: 5px;
margin: 5px 0;
  
}
.kurssinappi:hover{
  background: #444;
}

.merkinta{
  display: block;
  width: 100%;
  padding: 10px 15px;
  border:0;
    background: rgb(30, 30, 41);
    color: #fff;
    border-radius:5px;
    margin: 5px;
  
}

.merkinta:hover{
  background: #444;

}

.lomake-alue{
  padding: 10px 15;
  width: 70%;
  margin: auto;
}

.virhe{

}